@page "/todo"
@rendermode InteractiveServer
@using ToDoApp.Application
@using ToDoApp.Domain

<h3>Daily ToDo List</h3>

<div class="card bg-light mb-4">
    <div class="card-body">
        <h5 class="card-title">新しいタスクの追加</h5>
        <div class="input-group">
            <input type="date" class="form-control" @bind="newTaskDate" />
            <input @bind="newTodoTitle" @bind:event="oninput" class="form-control" placeholder="タスクの内容" />
            <button class="btn btn-primary" @onclick="AddTodo">追加</button>
        </div>
    </div>
</div>

@foreach (var dayGroup in todos.GroupBy(t => t.Date).OrderByDescending(g => g.Key))
{
    <div class="mb-3">
        <h4>@dayGroup.Key.ToLongDateString()</h4>
        <ul class="list-group">
            @foreach (var todo in dayGroup)
            {
                <TodoItemDisplay 
                    Item="todo" 
                    OnDeleteClicked="() => RemoveTodo(todo)" 
                    OnUpdateClicked="UpdateTodo" />
            }
        </ul>
    </div>
}